.clickable-image {
    position: relative;
    display: block;
}

.clickable-image .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Полупрозрачный черный */
    z-index: 5; /* Убедимся, что overlay будет поверх */
    cursor: pointer;
    opacity: 1;
}

.clickable-image:hover .overlay {
    background: rgba(0, 0, 0, 0.7); /* Усиливаем затемнение при наведении */
}